<!DOCTYPE html>
<html>
<head>
  <title>Bad Legal</title>

  <%= stylesheet_link_tag    'bootstrap' %>
  <%= stylesheet_link_tag    'bootstrap-ie7' %>
  <%= stylesheet_link_tag    'font-awesome.min' %>
  <%= stylesheet_link_tag    'font-awesome-ie7' %>
  <%= stylesheet_link_tag    'ie7' %>
  <%= stylesheet_link_tag    'ie8' %>
  <%= stylesheet_link_tag    'style' %>

  <%= javascript_include_tag 'banzhow' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'bootstrap-hover-dropdown.min' %>
  <%= javascript_include_tag 'bowser.min' %>
  <%= javascript_include_tag 'device.min' %>
  <%= javascript_include_tag 'jquery.boxsizing' %>
  <%= javascript_include_tag 'jquery.parallax-1.1.3' %>
  <%= javascript_include_tag 'jquery.placeholder' %>
  <%= javascript_include_tag 'jquery.touchSwipe.min' %>
  <%= javascript_include_tag 'jquery-1.10.2' %>
  <%= javascript_include_tag 'plugins' %>
  <%= javascript_include_tag 'respond' %>
  <%= javascript_include_tag 'scrolltopcontrol' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Bad Legal: Um projeto social de badminton">
  <meta name="author" content="Gabriel Alcantara">

  <title>Bad Legal</title>

</head>
<body>

<%= yield %>

</body>
</html>